@page
@model CSCSProofOfConcept.Pages.Projects.AdvanceModel
@using CSCSProofOfConcept.Data

@{
    ViewData["Title"] = "Advance";
}

<h1>Advance</h1>

<table style="margin-bottom: 14px;" class="detail-table">
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.Name)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.Name)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.Description)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.Description)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.PrjType)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.PrjType)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.DueDate)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.DueDate)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.Item)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.Item.Name)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.PrjStage)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => CacheData.States[Model.Project.PrjStage])
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.NewSpec)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.NewSpec)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.PrjPrice)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.PrjPrice)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.FreightStrat)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.FreightStrat)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.DistributionCenter)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.DistributionCenter.Name)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.History)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.History)
        </td>
    </tr>
</table>


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Project.Id" />

            @if (Model.Project.PrjStage == 0)
            {
                <div style="margin-top: 15px;" class="form-group">
                    <label asp-for="Project.FreightStrat" class="control-label"></label>
                    <input style="margin-top: 10px;" asp-for="Project.FreightStrat" class="form-control" />
                    <span asp-validation-for="Project.FreightStrat" class="text-danger"></span>
                </div>
                    
            }
            @if (Model.Project.PrjStage == 3)
            {
                <div style="margin-top: 15px;" class="form-group">
                    <label asp-for="Project.PrjPrice" class="control-label"></label>
                    <input style="margin-top: 10px;" asp-for="Project.PrjPrice" class="form-control" />
                    <span asp-validation-for="Project.PrjPrice" class="text-danger"></span>
                </div>

            }
            @if (Model.Project.PrjStage == 5)
            {
                <div style="margin-top: 15px;" class="form-group">
                    <label asp-for="Project.DistributionCenter" class="control-label"></label>
                    <select style="margin-top: 10px;" asp-for="Project.DistributionCenterId" class="form-control" asp-items="@Model.DCNameSL">
                        <option value="">-- Select a Distribution Center --</option>
                        <span asp-validation-for="Project.DistributionCenterId" class="text-danger"></span>
                    </select>
                </div>
            }
            @if (Model.Project.PrjStage != 0)
                {
                    <div style="margin-top: 15px;" class="form-group">
                        <input type="submit" asp-route-type="1" value="Approve" class="btn btn-primary" />
                        <input type="submit" asp-route-type="2" value="Reject" class="btn btn-danger" />
                    </div>
                } else
                {
                    <input style="margin-top: 15px;" type="submit" asp-route-type="1" value="Approve" class="btn btn-primary" />
                }

        </form>
    </div>
</div>


<div style="display: flex; margin-top: 15px;">
    <div class="prj-button-container">
        <a class="prj-button" asp-page="./Index">Back to List</a>
    </div>
</div>

