@page
@model CSCSProofOfConcept.Pages.Projects.DeleteModel
@using CSCSProofOfConcept.Data

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<table class="detail-table">
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.Name)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.Name)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.Description)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.Description)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.PrjType)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.PrjType)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.DueDate)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.DueDate)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.Item)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.Item.Name)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.PrjStage)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => CacheData.States[Model.Project.PrjStage])
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.NewSpec)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.NewSpec)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.PrjPrice)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.PrjPrice)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.FreightStrat)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.FreightStrat)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.DistributionCenter)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.DistributionCenter.Name)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.History)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.History)
        </td>
    </tr>
</table>
    
    <form style="margin-top: 15px;" method="post">
        <input type="hidden" asp-for="Project.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>

<div style="display: flex; margin-top: 15px;">
    <div class="prj-button-container">
        <a class="prj-button" asp-page="./Index">Back to List</a>
    </div>
</div>
