@page
@model CSCSProofOfConcept.Pages.Projects.DetailsModel
@using CSCSProofOfConcept.Data

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="detail-table">
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.Name)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.Name)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.Description)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.Description)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.PrjType)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.PrjType)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.DueDate)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.DueDate)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.Item)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.Item.Name)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.PrjStage)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => CacheData.States[Model.Project.PrjStage])
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.NewSpec)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.NewSpec)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.PrjPrice)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.PrjPrice)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.FreightStrat)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.FreightStrat)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.DistributionCenter)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.DistributionCenter.Name)
        </td>
    </tr>
    <tr class="detail-table">
        <th class="detail-table">
            @Html.DisplayNameFor(model => model.Project.History)
        </th>
        <td class="detail-table">
            @Html.DisplayFor(model => model.Project.History)
        </td>
    </tr>
</table>

@if (CacheData.User == "CM" || CacheData.User == "SSM")
{
    <div style="display: flex; margin-top: 15px;">
        <div class="prj-button-container">
            <a class="prj-button" asp-page="./Edit" asp-route-id="@Model.Project.Id">Edit</a>
        </div>
        <div class="prj-button-container">
            <a class="prj-button" asp-page="./Index">Back to List</a>
        </div>
    </div>
} else
{
    <div style="display: flex; margin-top: 15px;">
        <div class="prj-button-container">
            <a class="prj-button" asp-page="./Index">Back to List</a>
        </div>
    </div>
}