@page
@using CSCSProofOfConcept.Data
@model CSCSProofOfConcept.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Project Manager";
}

<h1>Project Manager</h1>
@if (CacheData.User == "CM" || CacheData.User == "SSM")
{
    <div style="display: flex;">
    <p class="new-button">
        <a class="new-text" asp-page="InitialCreate">Create New</a>
    </p>
    </div>
}

<div class="card-holder">
    @foreach (var item in Model.Project)
    {
        <div class="card">
            <div class="card-interior">
                <div style="display: flex; margin-top: 6px;">
                <h4 style="margin-top: 2px;">
                    @Html.DisplayFor(modelItem => item.Name)
                </h4>
                @if (item.PrjType == Models.PrjType.New) {
                <div class="small-label new-prj">
                    <label class="small-text">
                        @Html.DisplayFor(modelItem => item.PrjType)
                    </label>
                </div>
                }
                else if (item.PrjType == Models.PrjType.Transition)
                {
                    <div class="small-label transition-prj">
                        <label class="small-text">
                            @Html.DisplayFor(modelItem => item.PrjType)
                        </label>
                    </div>
                } else
                {
                    <div class="small-label discontinue-prj">
                        <label class="small-text">
                            @Html.DisplayFor(modelItem => item.PrjType)
                        </label>
                    </div>
                }
                </div>
                <div style="display: flex; margin-top: 8px;">
                    @if (CacheData.StageRequirements[item.PrjStage] == CacheData.User)
                    {
                        <div class="stage-label-user">
                            <label class="stage-text">
                                @Html.DisplayFor(modelItem => CacheData.States[item.PrjStage])
                            </label>
                        </div>
                    } else
                    {
                        <div class="stage-label">
                            <label class="stage-text">
                                @Html.DisplayFor(modelItem => CacheData.States[item.PrjStage])
                            </label>
                        </div>
                    }
                    @if ((DateTime.Compare((DateTime) item.DueDate,DateTime.Now)) < 0)
                    {
                        <div class="due-date-label-over">
                            <label class="stage-text">
                                Due: @Html.DisplayFor(modelItem => item.DueDate)
                            </label>
                        </div>
                    } else {
                        <div class="due-date-label">
                           <label class="stage-text">
                                Due: @Html.DisplayFor(modelItem => item.DueDate)
                            </label>
                        </div>
                    }
                </div>
                @if (CacheData.StageRequirements[item.PrjStage] == CacheData.User)
                {
                    @if (CacheData.User == "SSM")
                    {
                        <div style="display: flex">
                            <div class="prj-button-container">
                                <a class="prj-button" asp-page="./Advance" asp-route-id="@item.Id">Advance</a>
                            </div>
                            <div class="prj-button-container">
                                <a class="prj-button" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                            </div>
                            <div class="prj-button-container">
                                <a class="prj-button" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                            </div>
                            <div class="prj-button-container">
                                <a class="prj-button" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </div>
                       
                    }
                    else if (CacheData.User == "CM")
                    {

                        <div style="display: flex">
                            <div class="prj-button-container">
                                <a class="prj-button" asp-page="./Advance" asp-route-id="@item.Id">Advance</a>
                            </div>
                            <div class="prj-button-container">
                                <a class="prj-button" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                            </div>
                            <div class="prj-button-container">
                                <a class="prj-button" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                            </div>
                        </div>
                    }
                    else
                    {

                        <div style="display: flex">
                            <div class="prj-button-container">
                                <a class="prj-button" asp-page="./Advance" asp-route-id="@item.Id">Advance</a>
                            </div>
                            <div class="prj-button-container">
                                <a class="prj-button" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    @if (CacheData.User == "SSM")
                    {

                        <div style="display: flex">
                            <div class="prj-button-container">
                                <a class="prj-button" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                            </div>
                            <div class="prj-button-container">
                                <a class="prj-button" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                            </div>
                            <div class="prj-button-container">
                                <a class="prj-button" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </div>
                    }
                    else if (CacheData.User == "CM")
                    {

                        <div style="display: flex">
                            <div class="prj-button-container">
                                <a class="prj-button" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                            </div>
                            <div class="prj-button-container">
                                <a class="prj-button" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                            </div>
                        </div>
                    }
                    else
                    {

                        <div style="display: flex">
                            <div class="prj-button-container">
                                <a class="prj-button" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>


