@page
@model CSCSProofOfConcept.Pages.Items.IndexModel
@using CSCSProofOfConcept.Data

@{
    ViewData["Title"] = "Item Manager";
}

<h1>Item Manager</h1>

@if (CacheData.User == "CM" || CacheData.User == "SSM")
{
    <div style="display: flex;">
        <p class="new-button">
            <a class="new-text" asp-page="Create">Create New</a>
        </p>
    </div>
}

<div class="card-holder">
    @foreach (var item in Model.Item)
    {
        <div class="card">
            <div class="card-interior">
                <h4 style="margin-top: 2px;">
                    @Html.DisplayFor(modelItem => item.Name)
                </h4>
                <div style="display: flex;">
                    <div class="stage-label">
                        <label class="element-body">
                            <b>Specifications:</b> <br /> @Html.DisplayFor(modelItem => item.Specifications)
                        </label>
                    </div>
                </div>
                <div style="display: flex;">
                    <div class="stage-label">
                        <label class="element-body">
                            <b>Distribution Center:</b> <br /> @Html.DisplayFor(modelItem => item.DistributionCenter.Name)
                        </label>
                    </div>
                </div>

                @if (CacheData.User == "CM" || CacheData.User == "SSM")
                {
                    <div style="display: flex">
                        <div class="prj-button-container">
                            <a class="prj-button" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        </div>
                        <div class="prj-button-container">
                            <a class="prj-button" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        </div>
                        <div class="prj-button-container">
                            <a class="prj-button" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                }
                else
                {
                    <div style="display: flex">
                        <div class="prj-button-container">
                            <a class="prj-button" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        </div>
                    </div>

                }
            </div>
        </div>
    }
</div>

