@page
@model CSCSProofOfConcept.Pages.DistributionCenters.IndexModel
@using CSCSProofOfConcept.Data

@{
    ViewData["Title"] = "DC Manager";
}

<h1>DC Manager</h1>

@if (CacheData.User != "CM")
{
    <div style="display: flex;">
        <p class="new-button">
            <a class="new-text" asp-page="Create">Create New</a>
        </p>
    </div>
}

<div class="card-holder">
    @foreach (var item in Model.DistributionCenter)
    {
        <div class="card">
            <div class="card-interior">
                <h4 style="margin-top: 2px;">
                    @Html.DisplayFor(modelItem => item.Name)
                </h4>
                <div style="display: flex;">
                    <div class="stage-label">
                        <label class="element-body">
                            <b>Address:</b> <br /> @Html.DisplayFor(modelItem => item.Address)
                        </label>
                    </div>
                </div>
                <div style="display: flex;">
                    <div class="stage-label">
                        <label class="element-body">
                            @Html.DisplayFor(modelItem => item.NumTrucks) trucks
                        </label>
                    </div>
                </div>

                @if (CacheData.User != "CM")
                {
                    <div style="display: flex">
                        <div class="prj-button-container">
                            <a class="prj-button" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        </div>
                        <div class="prj-button-container">
                            <a class="prj-button" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        </div>
                        <div class="prj-button-container">
                            <a class="prj-button" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                }
                else
                {
                    <div style="display: flex">
                        <div class="prj-button-container">
                            <a class="prj-button" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
